@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500;700&family=Poppins:wght@100;200;300&display=swap');

*{
	margin: 0;
	padding: 0;
	text-transform: capitalize;
	text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

.about {
	background: #000;
	color: white;
}
.about #about-1{
	align-items: center;
	gap:10px;
}
.about h3{
	font-size: 45px;
	color: #fff200; 
}
.about p{
	font-size: 15px;
	line-height: 2;

}


.features .box{
	border: 1px solid rgba(0,0,0,.1);
	margin: 10px;
	border-radius: 5px;
}

.features h3{
	font-size: 30px;
	color:#2c3e50;
	text-transform: capitalize;
    padding: 10px 3px;	
}

.features p{
	font-size: 17px;
	line-height: 1.5;
	color: #666;
}
.features  .box  .btn-dark{
	margin-bottom: 30px;
}
h2{
	text-align: center;
	color: black;
	padding-bottom: 30px;
	padding-top: 90px;
}

.footer h4{
	font-size: 30px;
	color: brown;
}

.footer a{
	display: block;
	text-decoration: none;
	color: black;
}